<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>股票模拟交易系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="/stock/SearchView">行情</a></li>
					<li><a href="/trade/BuyView">买入</a></li>
					<li><a href="/trade/SellView">卖出</a></li>
					<li><a href="/trade/CancelView">撤单</a></li>
					<li><a href="/trade/TransactionView">成交</a></li>
					<li><a href="/trade/HoldView">持仓</a></li>
					<li class="dropdown pull-right"><a href="#"
						data-toggle="dropdown" class="dropdown-toggle">账户<strong
							class="caret"></strong>
					</a>
						<ul class="dropdown-menu">
							<li><a href="/holder/BalanceView">余额</a></li>
							<li><a href="/holder/logout">退出</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
	</div>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
